%head    
  %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
  %title myway | a sinatra.rb starting point
  %link{:href => "/stylesheets/screen.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}/
  /[if IE]
    %script{:src => "http://html5shiv.googlecode.com/svn/trunk/html5.js"}
    %style{:type => "text/css"}
      :plain
        .clear {
          zoom: 1;
          display: block;
          }