!!! html
%html
  = haml :"partials/_head"
  %body
    %header
    %section
      =yield
    %footer
    = javascript_script_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"
    = javascript_script_tag "/js/application.js"